@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --yellow: #fefae0;
    --grey: #484747;
    --red: rgb(165, 1, 1);
    --off-black: rgb(18, 18, 18);
        --white: rgba(255, 255, 255, 0.847);
    --beige: beige;
    --greylight:  #a1a1a1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
.machine-background {
    background-color: var(--off-black);
    width: 800px;
    margin: 2rem auto 0 auto;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 1) 0px 19px 38px, 
    rgba(0, 0, 0, 1) 15px 15px 12px;
}

.centeredTop {
    margin-left: 15px;
}
.centeredMiddle {
    margin-left: 20px;
}
.centeredBottom {
    margin-right: 20px;
}

h1{
    padding-top: 1.5rem;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    text-align: center;
    color: var(--white);
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: var(--white);
}

.howToPlay {
    display: flex;
    justify-content: space-between;
    width: 475px;
    margin: auto;
    color: var(--white);
    font-size: 14px;
}
    
.centered {
    text-align: center;
}


.machine {
    max-width: 500px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
} 

.drum {
    height: 125px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--white);
        display: grid;
        place-items: center;
        background-color: black;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px var(--red);
    border: none;
}

.drum:active {
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px;
}

.drum:hover{
    cursor: pointer;
}



input {
    transform: rotate(-90deg);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    height: 10px;
    background: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: var(--red);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: var(--red);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1)
  }
  input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2)
  }
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2)
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1)
  }
  input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2)
  }
  input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2)    
  }




.volume {
    margin-left: -69px;
}


.mixer {    
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    margin-top: 80px;
} 

.mixerText {
    width: 525px;
    font-size: 0.8rem;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.mixerText p {
    background-color: var(--white);
        color: black;
        font-weight: 700;
        display: grid;
        place-items: center;
        text-align: center;
    border-radius: 10%;
    padding: 5px 10px;
}

.background {
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px;
}

.mobileSentence {
    display: none;
}

@media(max-width: 825px) {
    .machine-background {
        width: 100%;
        border-radius: 0;
        box-shadow: none;

    }
}

@media(max-width: 600px){

    body {
            background: none;
            background-color: var(--off-black);
        }
    .machine-background {
        margin-top: 0;
    }
    .machine {
        gap: 15px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    h2 {
        display: none;
    }

    .howToPlay {
        display: none;
    }

    .drum {
        font-size: 1.125rem;
    }

    h1 {
        margin-top: 1.5rem;
        font-size: 2rem;
    }
    .mixerText {
        display: none;
    }   
    .volume,
    .kick-volume {
        display: none;
    }
    .mobileSentence{
        display: block;
        text-align: center;
        font-size: 18px;
        margin: 0 1rem;
        font-weight: 300;
        color: var(--white);
            padding-bottom: 1.5rem;
        }
    .mixer {
        margin: 0;
        padding-top: 1.5rem;
    }
}

@media (max-width: 450px) {
    .drum {
        font-size: 1.125rem;
        height: 100px;
        width: 100px;
        }
}



